.container{ width :80%;
margin: 0 auto;
}
.main-text{
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.rectangle{
    width: 100%;
    height: 150px;
    background: firebrick;
}
.main-text2{
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 20px;
    margin-top: 30px;
}
.main-text3{
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 20px;
    margin-top: 30px;
}