.rectangle{
    background: grey;
    width: 400px;
    height: 400px;
}
.rectangle2{
    background: white;
    width: 300px;
    height: 300px;
}
.gradient{
    background:linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 166, 7, 1) 25%, rgba(210, 212, 0, 1) 50%, rgba(130, 238, 140, 1) 69%, rgba(139, 140, 140, 0.66) 88%);
}
.gradient2{
    background:linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 166, 7, 1) 25%, rgba(210, 212, 0, 1) 50%, rgba(190, 181, 181, 1) 69%);
}