.container{
    width :80%;
    margin: 0 auto;
}
.Main-text{
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 20px;
}
.Second-text{
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 20px;
}
.Third-text{
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 20px;
}
.Fourth-text{
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 20px;
}
.Fifth-text{
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 20px;
}