body {
    background: rgba(128, 128, 128, 0.22);
}

.container {
    width: 80%;
    margin: 0 auto;
}

.card {
    width: 30%;
    background: white;
    border-radius: 3px;
    display: inline-block;
    margin: 0 5px 0;
}

.card-header {
    padding-left: 10%;
    padding-top: 30px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.22);
}

.card-header .title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}

.card-header .title-text {
    line-height: 40px;
    color: rgba(128, 128, 128, 0.72);
}
.card-header .title-text .black-text{
    color: black;
}

.card-header .title-text .black-text .or{
    color: black;
}
.text1{
    color: black;
    margin-left: 45px;
    margin-top: 20px;
}
.text2{
    color:black;
    margin-left: 45px;
    margin-top: 30px;
    display: inline-block;
}
.text3{
    color: black;
    margin-left: 45px;
    margin-top: 30px;
}
.text4{
    color: black;
    margin-left: 45px;
    margin-top: 30px;
}
.card-footer{
padding-left: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.card-footer button{
    background: rgba(0, 218, 54, 0.4);
    border: unset;
    border-radius: 3px;
    width: 200px;
    padding: 10px;
    cursor: pointer;
}
.percent{
    color: black;
    margin-left: 100px;
    margin-top: 40px;
    display: inline-block;
}
.line{
    height: 5px;
    width: 300px;
    background:linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 166, 7, 1) 25%, rgba(210, 212, 0, 1) 50%, rgba(130, 238, 140, 1) 69%, rgba(139, 140, 140, 0.66) 88%);
    margin-left: 45px;
    margin-top: 30px;
}
.line2{
    height: 5px;
    width: 300px;
    background:linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 166, 7, 1) 25%, rgba(210, 212, 0, 1) 50%, rgba(190, 181, 181, 1) 69%);
    margin-left: 45px;
    margin-top: 30px;
}
.line3{
    height: 5px;
    width: 300px;
    background:linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(212, 113, 0, 1) 19%, rgba(245, 250, 65, 1) 40%, rgba(207, 207, 207, 1) 58%);
    margin-left: 45px;
    margin-top: 30px;
}
.line4{
    height: 5px;
    width: 300px;
    background:linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(212, 113, 0, 1) 18%, rgba(255, 235, 59, 1) 38%, rgba(207, 207, 207, 1) 43%);
    margin-left: 45px;
    margin-top: 30px;
}
