h2{
    color: aqua;
}
.my-second-h2{
    color: rgba(189, 220, 110, 0.63);
}
#parent-of-header{
    background: rgba(255, 255, 0, 0.27);
}
.my-beautiful-element h2:nth-child(3){
    color: darkgreen;
}
.red-p{
    color: red;
}
.green-p{
    color: green;
}
.blue-p{
    color: blue;
}
.yellow-p{
    color: yellow;
}
.magenta-p{
    color: magenta;
}
.cyan-p{
    color: cyan;
}
.white-p{
    color: white;
}
.blackBright-p{
    color: black;
}
.redBright-p{
    color: darkred;
}
.greenBright-p{
    color: lightgreen;
}
.yellowBright-p{
    color: lightyellow;
}
.blueBright-p{
    color: lightblue;
}
.magentaBright-p{
    color: darkmagenta;
}
.cyanBright-p{
    color: lightcyan;
}
.whiteBright-p{
    color: whitesmoke;
}